.contents-body
  .contents-body__p-content-header
    .contents-body__p-content-header__inner
      %ul.path
        %li
          %a{:href => "/"} Filmarks映画情報
        %li > ログイン
  .contents-body__p-content
    .contents-body__p-content__p-panel
      .contents-body__p-content__p-panel__header
        .contents-body__p-content__p-panel__header__innner
          %p
          = "ログイン"
      .contents-body__p-content__p-panel__body
        .contents-body__p-content__p-panel__body__form
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = render 'layouts/error_messages'
            .contents-body__p-content__p-panel__body__form__list
              .contents-body__p-content__p-panel__body__form__list__state1
                = "E-mail"
              .contents-body__p-content__p-panel__body__form__list__state3  
            .contents-body__p-content__p-panel__body__form__input
              = f.text_field :email, class: 'input-form', placeholder: 'メールアドレスを入力ください'      
            .contents-body__p-content__p-panel__body__form__list
              .contents-body__p-content__p-panel__body__form__list__state1
                = "パスワード"
              .contents-body__p-content__p-panel__body__form__list__state3
            .contents-body__p-content__p-panel__body__form__input
              = f.text_field :password, class: 'input-form', placeholder: 'パスワードを入力ください'  
            .contents-body__p-content__p-panel__body__form__signin-button      
              %input#user_confirmed{:name => "button", :type => "hidden"}/
              = f.submit "ログイン", class: 'send'  
        .contents-body__p-content__p-panel__body__notice
          .contents-body__p-content__p-panel__body__notice__line
          .contents-body__p-content__p-panel__body__notice__text
            %p
            ="まだメンバー登録していない方"
        .contents-body__p-content__p-panel__body__register
          = link_to '登録はこちら', new_user_registration_path, class: 'btn'

        
