.search-detail
  .search-detail__wrapper
    .search-detail__header
      .search-detail__header-index.clearfix
        %ul.top-navi
          %li
            = link_to "Filmarks映画情報", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li
            映画検索結果
      .search-detail__header-title
        「#{ params[:keyword] }」に関する映画 #{ @movies_count }作品
    .search-detail__body
      .search-detail__body-main.clearfix
        .sidebar
          .sidebar__container
            %h2.c-heading-2
              検索
            .sidebar__main
              %nav.c-side-menu
                %ul
                  %li.c-side-menu__items
                    %h3.c-side-menu__items_title.active
                      = link_to "映画を検索する", search_movies_path(keyword: "#{params[:keyword]}",button: "movie")
                  %li.c-side-menu__items
                    %h3.c-side-menu__items_title
                      = link_to "キャストを検索する", search_movies_path(keyword: "#{params[:keyword]}",button: "cast")
                  %li.c-side-menu__items
                    %h3.c-side-menu__items_title
                      = link_to "ユーザーを検索する", search_movies_path(keyword: "#{params[:keyword]}",button: "user")
          .sidebar-banner__contents
            .barnner__content
              = image_tag "banner1.jpeg", alt: "banner_ad"
            .barnner__content
              %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/JXJ0ADlG8bg", :width => "300"}
        .search__lists.clearfix
          - @movies.each do |movie|
            .list-content
              =link_to movie_path(movie.id) do
                .list-content__image
                  = image_tag "#{ movie.image }", alt: "#{ movie.title }", width: "150px", height: "200px"
              .list-content__title
                =link_to movie_path(movie.id) do
                  %span
                    = movie.title
              .list-content__wrapper.clearfix
                =link_to "#" do
                  .list-content__mark
                    =fa_icon "pencil", class: "fa-2x"
                    %p.mark__count
                      10
                =link_to "#" do
                  .list-content__clip
                    =fa_icon "paperclip", class: "fa-2x fa-flip-horizontal"
                    %p.clip__count
                      10
                =link_to "#" do
                  .list-content__score
                    =fa_icon "star",class: "far fa-star"
                    %p.score__rate
                      4
          .search__lists-page
            = paginate(@movies)
      = render partial: "share/barnner_contents"
