=render partial: "reviews/post_form", locals: {movie: @movie, review: @review, tag: @tag}
.movie-detail
  .movie-detail__top-content
    .movie-detail__wrapper

      .movie-detail__header
        %ul.top-navi
          %li=link_to "Filmarks映画情報", root_path
          %li >
          -if @movie.countrys.length > 0
            %li=link_to "#{@movie.countrys[0].name}", lists_countries_path(@movie.countrys[0].id)
            %li >
          %li #{@movie.title}の映画情報・感想・評価

      .movie-detail__body
        .movie-detail__body-wrapper.clearfix
          .movie-detail__left
            = image_tag @movie.image
            .movie-actions.clearfix
              %a.post-review-btn
                =fa_icon "pencil", class: "fa-2x"
                %p #{@movie.reviews.length}
              - if @movie.clip_user(current_user.id)
                = link_to "#", class: "clip-movie-btn1", "data-clip-id": "#{@movie.id}", "data-clip-url": "/movies/#{@movie.id}/clips/#{@clip.id}" do
                  =fa_icon "paperclip", class: "fa-2x fa-flip-horizontal"
                  %p #{@movie.users.length}
              - else
                = link_to "#", class: "clip-movie-btn2", "data-clip-id": "#{@movie.id}", "data-clip-url": "/movies/#{@movie.id}/clips" do
                  =fa_icon "paperclip", class: "fa-2x fa-flip-horizontal"
                  %p #{@movie.users.length}
            .movie-detail__links--youtube
              %a{href: `JavaScript: youtube_search("#{@movie.title}", "予告")`}
                =fa_icon "youtube", class: "youtube-icon"
                %span 予告編を検索
            .sns-links
              .fb-share-button{"data-href": "http://www.lalaland.movie/", "data-layout": "button_count", "data-size": "small", "data-mobile-iframe": "false"}
                %a.fb-xfbml-parse-ignore{target: "_blank", href: "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftamakolovestory.com%2F&amp;src=sdkpreparse"} シェア
              .tweeter-share-button
                %a.twitter-share-button{href: "https://twitter.com/share?ref_src=twsrc%5Etfw", "data-url": "http://www.lalaland.movie/", "data-lang": "ja", "data-show-count": "false"} Tweet
                %script{async: "", src: "https://platform.twitter.com/widgets.js", charset: "utf-8"}

          .movie-detail__main
            %h2.movie-detail__title
              %span #{@movie.title}
              %small
                （
                =link_to "#{@movie.production}", @year_url
                製作の映画）
            .movie-detail__other-info
              %ul
                %li
                  -if @movie.release != nil
                    上映日：#{@movie.release.strftime("%Y年%m月%d日") }
                    %span &nbsp;／
                %li
                  -if @movie.countrys.length > 0
                    製作国：
                    -@movie.countrys.each do |country|
                      =link_to "#{country.name}", lists_countries_path(country.id)
                      %span &nbsp;／
                %li
                  -if @movie.time != nil
                    上映時間：#{@movie.time}分
            .movie-detail__genre
              %h3.movie-detail__genre-title
                -if @movie.genres.length > 0
                  ジャンル：
                  -@movie.genres.each do |genre|
                    =link_to "#{genre.name}", lists_genre_path(genre.id)
            -if @movie.reviews && @scores_array.sum > 1
              .movie-detail__review-rate{"data-review-rate": "#{@review_ave}"}
            -else
              .movie-detail__review-rate{"data-review-rate": "0"}
            .movie-detail__story
              -if @movie.story != nil
                %h3.movie-detail__story-term あらすじ
                %p.movie-detail__story-body
                  #{@movie.story}
            .movie-detail__people-list
              .movie-detail__people-list-others__wrapper.clearfix

                .movie-detail__people-list-others
                  -if @movie.members.where(status: 0).length > 0
                    %h3 監督
                    %ul
                      -@movie.members.each do |member|
                        -if member.status == 0
                          %li.p-movie-detail__people-list-desc
                            =link_to "#{member.name}", root_path, class: "member-label"
                .movie-detail__people-list-others
                  -if @movie.members.where(status: 1).length > 0
                    %h3 脚本
                    %ul
                      -@movie.members.each do |member|
                        -if member.status == 1
                          %li.p-movie-detail__people-list-desc
                            =link_to "#{member.name}", root_path, class: "member-label"
                .movie-detail__people-list-casts
                  -if @movie.members.where(status: 2).length > 0
                    %h3 出演者
                    %ul
                      -@movie.members.each do |member|
                        -if member.status == 2
                          %li.p-movie-detail__people-list-desc
                            =link_to "#{member.name}", root_path, class: "member-label"
                -# .movie-detail__trailer
                -#   %h3 予告編
                -#   %iframe{width: "360", height: "200", src: "https://www.youtube.com/embed/tlyqz57sHgM", frameborder: "0", allow: "autoplay; encrypted-media"}

  .movie-detail__low-content
    =render partial: "reviews/movie_detail_low_content", locals: {movie: @movie, reviews: @reviews, all_reviews: @all_reviews}
