= link_to "review(#{current_user.reviews.length})", review_user_path
= link_to "clip(#{current_user.clips.length})", clip_user_path
= link_to "fan(#{current_user.members.length})", fun_user_path
= link_to "follower(#{current_user.followers.length})", followers_user_path
= link_to "following(#{current_user.following.length})", following_user_path
