.search-detail
  .search-detail__wrapper
    .search-detail__header
      .search-detail__header-index.clearfix
        %ul.top-navi
          %li
            = link_to "Filmarks映画情報", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li
            = link_to "映画賞・映画祭", award_lists_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li
            #{@search_name}映画
      .search-detail__header-title
        %p.title__heading
          #{ @search_name } #{ @search_subname } 受賞映画作品 #{@movies_count}作品
        %p.title__heading-sub
          - if @movies_count !=0
            #{ @search_name } #{ @search_subname } 受賞作品。これまでに
            - movie = @movies[0]
            - if movie.members.find_by(status:'0') != nil
              - director = movie.members.find_by(status:'0')
              %span
                = "、#{director.name} 監督の#{movie.title}"
            - else
              %span
                = "、#{movie.title}"
            - if @movies[1] != nil
              - movie = @movies[1]
              - if movie.members.find_by(status:'2') != nil
                - cast = movie.members.find_by(status:'2')
                %span
                  = "、#{cast.name} が出演する#{movie.title}"
              - else
                %span
                  = "、#{movie.title}"
            - if @movies[2] != nil
              - movie = @movies[2]
              %span
                = "、#{movie.title}"
            %span
              などの作品が受賞してます。
          -else
            本サイトに登録されている作品情報はありません。
    .search-detail__body
      .search-detail__body-main.clearfix
        = render partial: "sidebar"
        = render partial: "lists/lists_content"
      = render partial: "share/barnner_contents"
