.movie-list-content
  .movie-list-content__tab
    おすすめ順
  .movie-list-content__index.clearfix
    - @search_country_movies.each_with_index do |movie, i|
      .list-content
        =link_to movie_path(movie.id) do
          .list-content__image
            = image_tag "#{ movie.image }", alt: "#{ movie.title }", width: "150px", height: "200px"
        .list-content__title
          =link_to movie_path(movie.id) do
            %span
              = movie.title
        .list-content__wrapper.clearfix
          =render partial: "reviews/post_form", locals: {movie: movie, review: @review, tag: @tag}
          =link_to "#" do
            .list-content__mark
              =fa_icon "pencil", class: "fa-2x"
              %p.mark__count
                #{movie.reviews.length}
          - if movie.clip_user(current_user.id)
            - @clip = movie.clips.find_by(user_id: current_user.id)
            =link_to "#", class: "clip-movie-btn3", "data-clip-id": "#{movie.id}", "data-clip-url": "/movies/#{movie.id}/clips/#{@clip.id}" do
              .list-content__clip
                =fa_icon "paperclip", class: "fa-2x fa-flip-horizontal"
                %p.clip__count
                  #{movie.users.length}
          - else
            =link_to "#", class: "clip-movie-btn4", "data-clip-id": "#{movie.id}", "data-clip-url": "/movies/#{movie.id}/clips" do
              .list-content__clip
                =fa_icon "paperclip", class: "fa-2x fa-flip-horizontal"
                %p.clip__count
                  #{movie.users.length}
          =link_to "#" do
            .list-content__score
              =fa_icon "star",class: "far fa-star"
              %p.score__rate
                -if @movies_infos_array[i][:reviews_count] >= 1
                  %span #{(@movies_infos_array[i][:score_ave]).to_f / 10}
                -else
                  %span -
  .movie-list-content__search
    = paginate(@search_country_movies)
