.sidebar
  .sidebar__container
    %h2.c-heading-2
      製作国を探す
    .sidebar__main
      %nav.c-side-menu
        %ul
          - @country_index.each do |country|
            -if "#{country.id}" == params[:country_id]
              %li.c-side-menu__items{id:"country_id#{country.id}"}
                %h3.c-side-menu__items_title.active
                  = link_to "#{country.name}(#{country.movies.count})", lists_countries_path(country.id)
            -else
              %li.c-side-menu__items{id:"country_id#{country.id}"}
                %h3.c-side-menu__items_title
                  = link_to "#{country.name}(#{country.movies.count})", lists_countries_path(country.id)
          %li.c-side-menu__items{id:"others"}
            %h3.c-side-menu__items_title
              = link_to "その他",country_others_lists_path
  .sidebar-banner__contents
    .barnner__content
      = image_tag "banner1.jpeg", alt: "banner_ad"
    .barnner__content
      %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/JXJ0ADlG8bg", :width => "300"}
