.search-detail
  .search-detail__wrapper
    .search-detail__header
      .search-detail__header-index.clearfix
        %ul.top-navi
          %li
            = link_to "Filmarks映画情報", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li
            映画製作年代・製作年
      .search-detail__header-title
        %p.title__heading 映画作品を探す
        %p.title__heading-sub
          上映中映画、公開予定映画、邦画・洋画、製作国別、サスペンス・ドラマ・SFなどのジャンル別、アカデミー賞・カンヌ国際映画祭などの映画賞受賞作品といった様々なテーマで映画を探せます。
    .search-detail__body
      .search-detail__body-main.clearfix
        .contents-block
          .contents-block__title
            =link_to do
              %span 動画配信サービス
          .contents-block__content.clearfix
            =link_to do
              .contents-block__content-link
                =image_tag "logo_ttv.png"
                .link-name
                  %span TUTAYA TV
            =link_to do
              .contents-block__content-link
                =image_tag "video-market.png"
                .link-name
                  %span ビデオマーケット
            =link_to do
              .contents-block__content-link
                =image_tag "logo_unext.png"
                .link-name
                  %span U-NEXT
            =link_to do
              .contents-block__content-link
                =image_tag "videopass_logo.png"
                .link-name
                  %span ビデオパス
            =link_to do
              .contents-block__content-link
                =image_tag "hulu_logo.png"
                .link-name
                  %span Hulu
            =link_to do
              .contents-block__content-link
                =image_tag "logo_netflix_logo.png"
                .link-name
                  %span netflix
        .contents-block.clearfix
          .contents-block__recommended
            .contents-block__recommended-showing
              .contents-block__title
                =link_to now_lists_path do
                  %span 上映中
              .contents-block__image.clearfix
                - @movies_now.each do |movie|
                  =link_to movie_path(movie.id) do
                    .contents-block__image__list
                      = image_tag "#{ movie.image }", alt: "#{ movie.title }", width: "90px", height: "120px"
              .contents-block__link
                .contents-block__link-btn
                  =link_to "もっと見る　>", now_lists_path
            .contents-block__recommended-showing
              .contents-block__title
                =link_to comming_lists_path do
                  %span 公開予定の映画
              .contents-block__image.clearfix
                - @movies_comming.each do |movie|
                  =link_to movie_path(movie.id) do
                    .contents-block__image__list
                      = image_tag "#{ movie.image }", alt: "#{ movie.title }", width: "90px", height: "120px"
              .contents-block__link
                .contents-block__link-btn
                  =link_to "もっと見る　>", comming_lists_path
            .contents-block__recommended-showing
              .contents-block__title
                =link_to upcomming_lists_path do
                  %span 今週公開の映画
              .contents-block__image.clearfix
                - @movies_upcomming.each do |movie|
                  =link_to movie_path(movie.id) do
                    .contents-block__image__list
                      = image_tag "#{ movie.image }", alt: "#{ movie.title }", width: "90px", height: "120px"
              .contents-block__link
                .contents-block__link-btn
                  =link_to "もっと見る　>", upcomming_lists_path
            .contents-block__recommended-showing
              .contents-block__title
                =link_to trend_lists_path do
                  %span 今話題のおすすめ映画
              .contents-block__image.clearfix
                - @movies_trend.each do |movie|
                  =link_to movie_path(movie.id) do
                    .contents-block__image__list
                      = image_tag "#{ movie.image }", alt: "#{ movie.title }", width: "90px", height: "120px"
              .contents-block__link
                .contents-block__link-btn
                  =link_to "もっと見る　>", trend_lists_path
        .contents-block
          .contents-block__title
            =link_to country_lists_path do
              %span 製作国
          .contents-block__content
            .contents-block__content-category.clearfix
              %ul.countries-lists.clearfix
              - i = 1
              - @countries.each do |country|
                - if i <= 15
                  .countries-list
                    = link_to lists_countries_path(country.id) do
                      %li.countries-list-name
                        %span
                          = country.name
                - else
                  .countries-list.hidden
                    = link_to lists_countries_path(country.id) do
                      %li.countries-list-name
                        %span
                          = country.name
                - i = i + 1
              - if i > 10
                .category-list__hidden.readmore.arrow-down
                  もっと見る
        .contents-block
          .contents-block__title
            =link_to genre_lists_path do
              %span ジャンル
          .contents-block__content
            .contents-block__content-category.clearfix
              %ul.genre-lists
              - @genres.each do |genre|
                = link_to lists_genre_path(genre.id) do
                  %li.genre-list-name
                    %span
                      = genre.name
        .contents-block
          .contents-block__title
            =link_to award_lists_path do
              %span 映画賞
          .contents-block__content
            .contents-block__content-category.clearfix
              %ul.award-lists
              -i = 1
              - @awards.each do |award|
                - if i <= 9
                  .award-list
                    = link_to  do
                      %li.award-list-name
                        %span
                          = award.name
                - else
                  .award-list.hidden
                    = link_to  do
                      %li.award-list-name
                        %span
                          = award.name
                - i = i +1
              - if i > 10
                .category-list__hidden.readmore.arrow-down
                  もっと見る
        .contents-block
          .contents-block__title
            =link_to year_lists_path do
              %span 製作年
          .contents-block__content
            .contents-block__content-category.clearfix
              %dl.category__year
                - age_first = (@movies_age.first/10.to_f).floor*10
                - age_last = (@movies_age.last/10.to_f).floor*10
                - list_count = 1
                - age_first.step age_last,-10 do |num|
                  - movies = Movie.where("production >= ?", num).where("production < ?", num + 10).group(:production)
                  - if movies.length != 0
                    - if list_count <= 3
                      .category__year-list.clearfix
                        %dt
                          = link_to do
                            %span
                              = "#{ num }年代"
                        %dd
                          - movies.each do |movie|
                            = link_to do
                              %span
                                = "#{ movie.production }"
                    - else
                      .category__year-list.hidden.clearfix
                        %dt
                          = link_to do
                            %span
                              = "#{ num }年代"
                        %dd
                          - movies.each do |movie|
                            = link_to do
                              %span
                                = "#{ movie.production }"
                    - list_count = list_count + 1
                - if list_count > 4
                  .category-list__hidden.readmore.arrow-down
                    もっと見る
        .contents-block-sub
          .contents-block__title
            =link_to do
              %span 新作レンタル
          .contents-block__content
            .contents-block__content-category.clearfix
              - @movies_rental.each do |movie|
                =link_to movie_path(movie.id) do
                  .contents-block__image__list
                    = image_tag "#{ movie.image }", alt: "#{ movie.title }", width: "90px", height: "120px"
          .contents-block-sub__link
            .contents-block-sub__link-btn
              =link_to "もっと見る　>"
        .contents-block-sub.margin
          .contents-block__title
            =link_to do
              %span レンタル予定の映画
          .contents-block__content
            .contents-block__content-category.clearfix
              - @movies_rental.each do |movie|
                =link_to movie_path(movie.id) do
                  .contents-block__image__list
                    = image_tag "#{ movie.image }", alt: "#{ movie.title }", width: "90px", height: "120px"
          .contents-block-sub__link
            .contents-block-sub__link-btn
              =link_to "もっと見る　>"
        .contents-block-sub.margin
          .contents-block__title
            =link_to do
              %span #タグ
          .contents-block__content
            .contents-block__content-category
              = link_to  do
                .tag-list
                  %span
                    = '#映画'
              = link_to  do
                .tag-list
                  %span
                    = '#記録'
              = link_to  do
                .tag-list
                  %span
                    = '#DVD'
          .contents-block-sub__link
            .contents-block-sub__link-btn
              =link_to "もっと見る　>"
      = render partial: "share/barnner_contents"
